<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body bgcolor="ivory">
    <BR><BR><BR><BR><BR><HR>
    <CENTER> <h1> Common Sense Quiz </h1> </CENTER>
    <hr/>
    <BR><BR><BR><BR><BR><BR><BR><BR>
    <form action="/login" method="post">
      <CENTER><table>
        <tr>
          <td><label><span style="color: indigo; font-size : 20pt;">ID &nbsp &nbsp</span></label></td>
          <td><input type="text" name="username" placeholder="id" /></td>
        </tr>
        <tr>
          <td><label><span style="color: indigo; font-size : 20pt;">Password &nbsp &nbsp</span></label></td>
          <td><input type="password" name="password" placeholder="password" /></td>
        </tr>
      </table>
      </CENTER>
      <BR>
      <CENTER><input type= "submit" name ="login" value="로그인"  style="width:100px;height:40px;font-size:20px;" />
      <input type= "submit" name ="join" onClick="location.href='./signin.html'" value="회원가입"  style="width:100px;height:40px;font-size:20px;line-width:5px" />
      <input type= "submit" name ="quizins" onClick="location.href='./quiz_insert.html'" value="문제 등록 (관리자용)"  style="width:100px;height:40px;font-size:20px;line-width:5px" /></CENTER>

    </form>
  </body>
</html>
